<%- include('../inc/top') %>

    <article class="content">
        <div class="sanPham">
            <div class="divImg">
                <img src="/img/dep5.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Giày lười</div>
            <div><a href="#" class="gia">100.000 VND</a></div>

        </div>
        <div class="sanPham">
            <div class="divImg">
                <img src="img/ao2.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Áo phông nam</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>
        <div class="sanPham">
            <div class="divImg">
                <img src="img/ao3.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Áo phông ngắn tay</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>
        <div class="sanPham">
            <div class="divImg">
                <img src="img/dep2.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Dép da nước Mĩ</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>
        <!-- row 2 -->
        <div class="sanPham">
            <div class="divImg">
                <img src="img/dep4.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Dép xangdan</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>
        <div class="sanPham">
            <div class="divImg">
                <img src="img/dep5.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Dép Vip</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>
        <div class="sanPham">
            <div class="divImg">
                <img src="img/dep6.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Dép Crock</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>
        <div class="sanPham">
            <div class="divImg">
                <img src="img/giay1.jpg" alt="" width="150" height="100">
            </div>
            <div class="tieuDe">Giày da nam Mĩ</div>
            <div><a href="#" class="gia">Liên hệ giá</a></div>
        </div>

    </article>






    <%- include('../inc/bottom') %>


